# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\repos\pccm_db_sk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
